 *{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
}
*{
    box-sizing: border-box;
}

.bodyClass {
    background-color: yellow;
}


#container {
    width: 250px;
    height: 250px;
    background-color: rgb(11, 58, 73);
}



.header-bg {
    background-color: rgb(116, 177, 174);
    padding: 35px;
    position: relative;
}
.navigation-wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-ul {
    display: flex;
}
.toggle-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border: 2px solid rgb(10, 10, 10);
    display: none;
}
.line {
    width: 80%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition:all 0.5s;
}
.line1 {
    top: 30%;
}
.line3 {
    top: 70%;
}
.activeLine .line1 {
    top: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
}
.activeLine .line3 {
    top: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}
.activeLine .line2 {
    display: none;
}



@media (max-width: 480px) {
    .navigation {
        display: none;
    }
    .toggle-button {
        display: block;
    }
    .navigation-wraper {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-ul {
        flex-direction: column;
        align-items: center;
    }
    .nav-ul.inactive {
          height: 637px;
          width: 100%;
          position: absolute;
          font-weight: bolder;
          top: 20px;
          left: 0px;
          font-size: 30px;

          background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/bf853092-d54d-4bd0-842b-1facd2b89c32/dfp0gk5-6d7fddbb-3efa-4447-b6e5-d0230526bc94.png/v1/fill/w_936,h_853/the_guardians_of_the_galaxy__vol__3_png_by_iwasboredsoididthis_dfp0gk5-pre.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTcyMyIsInBhdGgiOiJcL2ZcL2JmODUzMDkyLWQ1NGQtNGJkMC04NDJiLTFmYWNkMmI4OWMzMlwvZGZwMGdrNS02ZDdmZGRiYi0zZWZhLTQ0NDctYjZlNS1kMDIzMDUyNmJjOTQucG5nIiwid2lkdGgiOiI8PTEwNjcwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.-5izMpznXVV90ZlqBOE-o8I92z2IaAqQ-OTCtlJXfjE)
          

    }
    .navigation.activeNav {
        display: block;
        width: 100%;
    }
}
